.vAlign {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}
.lighten-custom {
    background-color: #5494ff;
}
.notification-badge {
    position: relative;
    right: 5px;
    top: -20px;
    color: #ffffff;
    background-color: #FF4081;
    margin: 0 -.8em;
    border-radius: 50%;
    padding: 4px 5px
}
small {
    font-size: 0.8rem;
}
div.row {
    margin-bottom: 0 !important;
}
.user-data {
    padding-left: 12px;
}
.user-data span {
    display: block;
    color: #FFF;
    line-height: 20px;
}
.admin-holder {
    height: 100%;
    padding-top: 10px;
}
span.user-role {
    font-size: 12px;
    font-weight: 200;
}
.side-bar {
    background-color: #263238;
    position: relative;
    width: auto;
    transform: none;
    z-index: 1;
    height: 100%;
    overflow: hidden;
}
.side-bar a {
    color: #90a4ae;
    font-weight: 300;
    padding: 0 16px;
}
.side-bar li:hover > a,
#slide-out > li.active > a {
    color: #fff;
}
.side-bar.fixed {
    top: 64px;
}
.bs-badge {
    line-height: 14px;
    top: 2px;
    left: 2px;
    display: block;
    width: 14px;
    min-width: 14px;
    height: 14px;
    padding: 0;
}
.bs-badge.badge-absolute {
    position: absolute;
    z-index: 5;
    top: 12px;
    left: 48px;
}
.badge,
.bs-badge {
    font-size: 11px;
    font-weight: 700;
    line-height: 20px;
    display: inline-block;
    min-width: 20px;
    height: 20px;
    padding: 0 4px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    color: #fff;
    border-radius: 10px;
}
.bg-red {
    color: #fff;
    border-color: #f33;
    background: #ff5757;
}
.sidenav-header {
    height: 48px;
}
.section-header {
    margin: 0;
    padding: 9px 0;
    border-bottom: 1px solid #cfcfcf;
    height: 48px;
    background: #FFF;
}
.dashboard-text {
    font-weight: 600;
    font-size: 18px;
}
.icon-class {
    vertical-align: middle;
    border-radius: 50%;
    margin: 0 32px 0 0;
}
div.content-subheader {
    padding: 20px 0;
        margin: 0 !important;
}
.activity-current {
    font-size: 16px;
    font-weight: 500;
    color: #263238;
}
.view-all-activities {
    color: #6C81FA;
    font-size: 14px;
}
.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #f5f5f5;
}
div.shift-container {
    margin-left: 60px;
}
#owl-demo .item {
    background: #3fbf79;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
.customNavigation {
    text-align: center;
}
.customNavigation a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.diff-back {
    background-color: rgba(0, 0, 0, 0.05);
}
#left-sidebar-nav {
    position: static;
}
#left-sidebar-nav + div {
    padding: 0 0.8em;
    width: 75%;
    flex: 1 auto
}
#left-sidebar-nav.sidebar-collapsed {
    position: absolute;
    width: 60px;
    height: 100%;
    z-index: 100;
}
#left-sidebar-nav {
    -webkit-transition: all .3s cubic-bezier(.55, 0, .55, .2), width .1s linear, min-width .1s linear, max-width .1s linear;
    transition: all .3s cubic-bezier(.55, 0, .55, .2), width .1s linear, min-width .1s linear, max-width .1s linear;
    width: 210px;
    background: #f5f5f5;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    position: relative;
}
.card-image {
    height: 60px;
}
.card-image.study {
    background: #fb8800;
}
.card-image.publish {
    background: #08c250;
}
.card-image.visit {
    background: #d94114;
}
.card-text {
    font-size: 16px;
    font-weight: 500;
    padding: 15px 0;
    display: block;
}
.card-image .card-title {
    font-size: 14px;
}
.table-card {
    padding: 10px 5px;
}
footer.page-footer {
    background: #FFF;
}
.footer-copyright {
    color: #000 !important;
    background: #FFF !important;
}
.carousel-wrapper {
    margin: 0 auto;
    width: 90%;
}
.collapse-icon {
    color: rgba(255, 255, 255, 0.87);
    fill: rgba(255, 255, 255, 0.87);
    cursor: pointer;
}
#left-sidebar-nav.sidebar-collapsed.display-over {
    width: 210px;
}
img.responsive-img {
    vertical-align: middle;
}
.header-icon {
    border-right: 1px solid #64b5f6;
}
.userDetails {
    height: 64px;
}
#slide-out > li:hover {
    background-color: #2979ff;
}
.side-nav .dashboard > a {
    background: url(../images/Dashboard_Normal.png) no-repeat 21px center;
    padding-left: 61px;
}
.side-nav .dashboard:hover > a,
.side-nav .dashboard.active > a {
    background: url(../images/Dashboard_Clicked.png) no-repeat 21px center;
}
.side-nav .study > a {
    background: url(../images/StudyUsers_Normal.png) no-repeat 21px center;
    padding-left: 61px;
    line-height: 25px;
}
ul.side-nav ul > li > a.collapsible-header {
    height: 48px;
}
.side-nav .study:hover > a,
.side-nav .study.active > a {
    background: url(../images/StudyUsers_Clicked.png) no-repeat 21px center;
}
.side-nav .manage-study > a {
    background: url(../images/ManageStudy_Normal.png) no-repeat 21px center;
    padding-left: 61px;
}
.side-nav .manage-study:hover > a,
.side-nav .manage-study.active > a {
    background: url(../images/ManageStudy_Clicked.png) no-repeat 21px center;
}
.side-nav .library > a {
    background: url(../images/Library_Normal.png) no-repeat 21px center;
    padding-left: 61px;
}
.side-nav .library:hover > a,
.side-nav .library.active > a {
    background: url(../images/Library_Clicked.png) no-repeat 21px center;
}
.side-nav .query > a {
    background: url(../images/Querylist_Normal.png) no-repeat 21px center;
    padding-left: 61px;
}
.side-nav .query:hover > a,
.side-nav .query.active > a {
    background: url(../images/Querylist_Clicked.png) no-repeat 21px center;
}
.side-nav .reports > a {
    background: url(../images/Reports_Normal.png) no-repeat 21px center;
    padding-left: 61px;
}
.side-nav .reports:hover > a,
.side-nav .reports.active > a {
    background: url(../images/Reports_Clicked.png) no-repeat 21px center;
}
.side-nav .collapsible-body {
    background-color: #263238 !important;
}
.side-nav .collapsible-header {
    height: 48px;
}
.collapsible-body ul li a:hover {
    background: #172024;
}
ul.side-nav .collapsible-body li a {
    padding-left: 60px;
    line-height: 32px;
    height: 30px;
}

/*Second level dropdown css*/
a.second-lvl-dropdown{
    height: 30px !important;
    min-height: 30px !important;
}

ul.second-lvl-ul li a{
    padding-left: 70px !important;
}


.dummyDiv {
    height: 48px;
    width: 100%;
    background: #FFF;
    position: absolute;
    border-bottom: 1px solid #cfcfcf;
}

.dummyDiv.offset-top{
        top: 92px;
}
.offset-breadcrumb{
    height:28px;
    background: #f5f5f5;
    border:none;
}
#collapseSideBar {
    display: block;
    margin: 0 auto;
    float: right;
    margin-top: 15px;
    width: 16px;
}
.head-nav {
    width: 80px;
}
.downarrow {
    padding-left: 10px;
}
.dropImage {
    margin-top: 8px;
    padding-left: 5px;
}
footer {
    margin: 0 !important;
    padding: 0 !important;
}
.sidebar-not-collapsed .side-nav li.drpdn,
.display-over .side-nav li.drpdn {
    background: url('../images/SubmenuArrow_Normal.png') no-repeat 92% center;
}
.sidebar-not-collapsed .side-nav li.drpdn:hover,
.display-over .side-nav li.drpdn:hover {
    background: url('../images/SubmenuArrow_Clicked.png') no-repeat 92% center;
}
.sidebar-not-collapsed .side-nav li.drpdn.active-drpdown:hover,
.display-over .side-nav li.drpdn.active-drpdown:hover {
    background:#172024 url('../images/SubmenuArrow_Clicked.png') no-repeat 92% center;
}
#slide-out > li.active {
    background: #2979ff url('../images/SubmenuArrow_down.png') no-repeat 92% 22px;
}

#slide-out  li.active.active-drpdown {
    background: #172024 url('../images/SubmenuArrow_down.png') no-repeat 92% 12px;
}
.small-line {
    /*line-height: 17px !important;*/
}
.dropdown-content.select-dropdown li:hover {
    background-color: #e1e1e1 !important;
}
#dropdown2 {
    width: 216px !important;
    padding-top: 10px;
    background: #FFF;
}
#dropdown2 li,
#dropdown1 li {
    min-height: 35px;
}
#dropdown1 a {
    color: #000;
    font-size: 14px;
    padding: 0 45px;
    line-height: 33px
}
#dropdown2 a {
    line-height: 33px;
}
#dropdown1 li:hover {
    background: #e1e1e1;
}
#dropdown1 a:hover {
    background: transparent;
}
.dashboard-text {
    border-left: 5px solid #64dd17;
    padding-left: 10px;
}
#dropdown1 {
    width: 225px !important;
}
.dropdown-holder {
    width: 160px;
    margin: auto 16px !important;
}
.drpdown-label {
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
#dropdown1 input.select-dropdown {
    border-bottom: 1px solid #b4bfc5;
    padding-left: 10px;
}
#dropdown1 >li:hover:not('.space-drop') {
    background: #e1e1e1 !important;
}
.notf {
    font-size: 10px;
    color: #86b473;
    display: block;
    margin-top: -20px;
}
.dropdown-content li>a,
.dropdown-content li>span {
    color: #000;
    font-size: 14px;
}
.space-drop {
    padding: 20px 0;
    border-bottom: 1px dashed #c8c8c8;
}
.export-text {
    font-weight: 500;
    font-size: 14px;
    display: block;
    padding-top: 13px;
    cursor: pointer;
}
.export-options div {
    height: 48px;
}
div.selected-export {
    background: #2879ff;
    color: #FFF;
}
.export-data {
    margin: 0 15px;
    background: #FFF;
    color: #000;
}
.export-options div:last-child {
    flex-direction: row-reverse;
}
.query-table th {
    font-size: 12px;
    font-weight: 500;
    color: #757575;
}
.query-table td {
    font-size: 12px;
    color: #000;
    font-weight: 500;
}
.query-label {
    font-size: 12px;
    color: #000;
}
.query-wrapper .select-wrapper input.select-dropdown {
    border: 1px solid #b4bfc5;
    padding-left: 10px;
}
div.query-wrapper i {
    position: absolute;
    top: 22px;
    left: 18px;
    cursor: pointer;
    color: #5494ff;
}
.query-wrapper input {
    background: #FFF;
}
.query-table tr td {
    text-align: center;
}
.setting-cards .row {
    margin: 0;
}
.level-settings {
    padding: 10px;
}
.setting-cards .row label {
    color: #757575;
    font-size: 12px;
    display: block;
    padding-bottom: 10px;
}
.setting-cards .select-wrapper input.select-dropdown,
input.colour {
    border-bottom: 1px solid #b4bfc5;
    padding-left: 10px;
    height: 31px;
}
input[type=text].colour:focus {
    border-bottom: 1px solid #b4bfc5;
    box-shadow: none;
}
input[type=text].autocomplete:focus {
    border-bottom: 1px solid #9e9e9e;
}
input[type=text].autocomplete {
    padding-left: 34px !important;
}
[type="checkbox"].filled-in:checked+label:after,
[type="radio"].with-gap:checked+label:after {
    border: 2px solid #5494ff;
    background-color: #5494ff;
}
.checkbox-labels {
    font-size: 12px !important;
    color: #000 !important;
}
.mandate {
    color: red;
    vertical-align: middle;
}
.mandate-info {
    font-size: 12px;
    color: #707070;
    padding-top: 10px;
}
.mandate-info span {
    margin: 0 2px;
    display: inline-block;
}
.reset-button {
    background-color: #78909c !important;
        margin-right: 10px;
}
.save-button {
    background-color: #2979ff !important;
}
.top-padding {
    padding-top: 40px;
}
.sp-replacer {
    display: none !important;
}
.colorPicker {
    padding-top: 30px;
}
.autocomplete-suggestions {
    background: #FFF;
    border: 1px solid #CCC;
}
input.colour {
    background-image: url(../images/colorpicker.png) !important;
    background-position-x: right;
    background-position-y: center;
    background-size: initial;
    background-repeat: no-repeat;
}
.autocomplete-suggestion {
    padding: 10px;
}
.closeBtn {
    top: 5px;
    right: 24px;
    position: absolute;
}
div.select-wrapper input.select-dropdown {
    height: 31px;
}
.pagination-div {
    padding-top: 10px;
    font-size: 12px;
}
.pagination-div span {
    color: #888888;
}
.arrows {
    padding: 5px;
    cursor: pointer;
    display: inline-block;
}
.arrows img {
    vertical-align: middle;
}
#dropdown2 li a.Create_study {
    background: url('../images/CreateStudy_Normal.png') no-repeat 17px center;
}
#dropdown2 li a.manage_study {
    background: url('../images/ManStudyLogs_Normal.png') no-repeat 17px center;
}
#dropdown2 li a.study_design {
    background: url('../images/StudyDesign_Normal.png') no-repeat 17px center;
}
#dropdown2 li a.monitor_data {
    background: url('../images/MonitorInputData_Normal.png') no-repeat 17px center;
}
#dropdown2 li a.manage_user {
    background: url('../images/ManageUsers_Normal.png') no-repeat 17px center;
}
#dropdown2 li a.view_list {
    background: url('../images/ViewQueryList_Normal.png') no-repeat 17px center;
}
#dropdown2 li a.manage_study:hover {
    background: url('../images/ManStudyLogs_Clicked.png') no-repeat 17px center;
}
#dropdown2 li a.study_design:hover {
    background: url('../images/StudyDesign_Clicked.png') no-repeat 17px center;
}
#dropdown2 li a.monitor_data:hover {
    background: url('../images/MonitorInputData_Clicked.png') no-repeat 17px center;
}
#dropdown2 li a.manage_user:hover {
    background: url('../images/ManageUsers_Clicked.png') no-repeat 17px center;
}
#dropdown2 li a.view_list:hover {
    background: url('../images/ViewQueryList_Clicked.png') no-repeat 17px center;
}
#dropdown2 a {
    color: #000;
    font-size: 14px;
    padding: 0 45px;
    line-height: 33px
}
#dropdown1 li a.settings_icon {
    background: url('../images/Setting_Normal.png') no-repeat 17px center;
}
#dropdown1 li a.release_note {
    background: url('../images/ReleaseNote_Normal.png') no-repeat 17px center;
}
#dropdown1 li a.matrix {
    background: url('../images/UserCapabilityMetrix_Normal.png') no-repeat 17px center;
}
#dropdown1 li a.sign-out {
    background: url('../images/SignOut_Normal.png') no-repeat 17px center;
}
#dropdown1 li a.settings_icon:hover {
    background: url('../images/Setting_Clicked.png') no-repeat 17px center;
}
#dropdown1 li a.release_note:hover {
    background: url('../images/ReleaseNote_Clicked.png') no-repeat 17px center;
}
#dropdown1 li a.matrix:hover {
    background: url('../images/UserCapabilityMetrix_Clicked.png') no-repeat 17px center;
}
#dropdown1 li a.sign-out:hover {
    background: url('../images/SignOut_Clicked.png') no-repeat 17px center;
}
.user-details {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 0;
    overflow: hidden;
}
.req-fields {
    color: #707070;
    font-size: 12px;
    display: block;
}
.modal-content .input-label {
    font-size: 12px;
    color: #000;
    display: inline-block;
    margin-top: 10px;
}
.modal-content .modal-input {
    height: 2rem;
    margin-bottom: 0;
    font-size: 12px;
}
.modal-content .dropdown-content li>span,
.modal-content div.select-wrapper input.select-dropdown {
    font-size: 12px;
    margin-bottom: 0;
}
.modal-content input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #b4bfc5;
    box-shadow: none;
}
.bottom-space .row {
    margin-bottom: 25px !important;
}
.role-table thead th {
    background: #eeeeee;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
}
.role-table tbody td {
    font-size: 12px;
    font-weight: 300;
    padding: 5px 15px;
}
.role-table tbody tr:first-child td {
    padding-top: 10px;
}
.role-table {
    border: 1px solid #b4bfc5;
}
[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after {
    border: 2px solid #5494ff;
}
#modal1 {
    max-height: 80%;
    border-radius: 0;
    width: 50%
}
#modal1 .modal-footer {
    padding: 24px;
    overflow: hidden;
    height: auto;
}
#modal1 .modal-footer .btn {
    margin-right: 10px;
    border-radius: 0;
}
#collapseSideBar {
    -ms-transform: rotate(0deg);
    /* IE 9 */
    
    -webkit-transform: rotate(0eg);
    /* Chrome, Safari, Opera */
    
    transform: rotate(0deg);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hoverMe #collapseSideBar {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    
    transform: rotate(180deg);
}

div.sub-wrapper i {
    position: absolute;
    top: 2px;
    left: 85px;
    cursor: pointer;
    color: #5494ff;
}

.sub-wrapper{
    position:relative;

}
.sub-wrapper input{
    height: 28px;
    width: 200px;
    padding-left: 30px !important;
    margin:0;
}
.options-text{
    font-size:12px;
    font-weight:500;
}
.bluemix{
    color:#3d5afe;
}

.card-panel input.select-dropdown{margin:0}
.study-visit{font-size:16px;font-weight: 500;}
.square{height: 22px;width: 22px;border:1px solid #757575;font-size: 10px;text-align:center;color:#263238;margin:10px;display: flex;}
.square a{color: #263238;display: inline-block;vertical-align: middle;align-self: center;width: 100%;}
.square-holder{padding-top:20px;}
/*.square-holder div:first-child{margin-left:0;}
.square-holder div:last-child{margin-right:0;}*/
.flex-container-column{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column wrap;

}
.legend-square{display:block;height:16px;width:16px;border:1px solid #757575;}
#dropdown3{
    width:300px !important;
    padding: 10px;
}
.flex-container-column .flex-container{
    padding:5px;
    align-items: center;
}
.flex-container-column .flex-container > span{
    margin:5px;
}
.legend-text{
    font-size:12px;
    font-weight: 400; 
}


/**/
span.progress-state,div.progress-state{
    background: #8bc34a;
    border:none;
}
span.complete-review,div.complete-review{
    background: #ffa726;
    border:none;
}
span.open-issue,div.open-issue{
    background: #f48bab;
    border:none;
}
span.sign-off,div.sign-off{
    background: #64b5f6;
    border:none;
}
span.visit-done,div.visit-done{
    background: #9fa8da;
    border:none;
}
span.data-lock,div.data-lock{
    background: #ffeb3b;
    border:none;
}
span.stop,div.stop{
    background: #e57373;
    border:none;
}
.study-cards .card-panel{
    /*min-height: 240px;*/
}

.breadcrumb_holder{
    height:28px;
}
.breadcrumb_holder .breadcrumb{
    font-size: 10px;
    color:#000;
}
.breadcrumb_holder .breadcrumb:before{
    font-size: 10px;
    color:#000;
    vertical-align: middle;
}

.breadcrumb_holder .breadcrumb.link_visit{
    color:#f69100;
}

div.study-cards .select-wrapper input.select-dropdown{
    border-bottom: none;
    border-right:1px solid #e0e0e0;
    padding-right: 10px;
}

div.study-cards .select-wrapper span.caret{
    color:#5494ff;
}

div.test-study-options > .col{
    padding:0;
}
div.test-study-options input.select-dropdown{
    margin: 0;
    border-bottom: none;
    font-size: 12px;
}
div.test-study-options input.select-dropdown + ul li span{
    font-size: 12px;
}
.select-wrapper span.caret{
    color:#5494ff
}
.test-study-options{
    padding:0 0 10px 0;
    border-bottom:2px solid #dcdcdc;
}
div.test-study-options.row div.input-field{
    margin:0;
    border-right:2px solid #e0e0e0;
}

.mandat{
    color: #f44336;
}
.normal{
    color: #ff6f00;
}
div.export-options{
    padding:10px 13px;
}
.pDetails input[type="text"]{
    margin:0;
    border-bottom: 1px solid #b4bfc5;
    height: 30px;
}
.pDetails .ptitle{
    font-size: 12px;
    padding-bottom: 20px;
}
.right-border{
    border-right:2px solid #e0e0e0;
}
.sTitle{
    font-size: 12px;
        margin-top: 10px;
}
.scrollContent{
    overflow-y: scroll;
    max-height:600px;
}
#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#wrapper {
	position: relative;
	z-index: 1;
    height:600px;
	overflow: hidden;
    max-height:600px;
}
/*Datepicker style*/
.c-btn {
      font-size: 14px;
      text-transform: capitalize;
      font-weight: 600;
      display: inline-block;
      line-height: 36px;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
      min-width: 88px;
      height: 36px;
      margin: 10px 8px;
      padding: 0 8px;
      text-align: center;
      letter-spacing: .5px;
      border-radius: 2px;
      background: #F1F1F1;
      color: #393939;
      transition: background 200ms ease-in-out;
      box-shadow: 0 3.08696px 5.82609px 0 rgba(0, 0, 0, 0.16174), 0 3.65217px 12.91304px 0 rgba(0, 0, 0, 0.12435);
    }

    .c-btn--flat {
      background: transparent;
      margin: 10px 8px;
      min-width: 52px;
    }

    .c-btn:hover {
      background: rgba(153, 153, 153, 0.2);
      color: #393939;
    }

    .c-btn:active {
      box-shadow: 0 9.6087px 10.78261px 0 rgba(0, 0, 0, 0.17217), 0 13.56522px 30.3913px 0 rgba(0, 0, 0, 0.15043);
    }

    .c-btn--flat, .c-btn--flat:hover, .c-btn--flat:active {
      box-shadow: none;
    }
    table thead th {
        font-size: 10px;
        opacity: 0.54;
        font-weight: 500;
    }

    .section-container{
        padding-top:10px;
    }
    #setting1{
        width:170px !important;
    }
    .subject-visit ul, .study-logs ul {
        width:200px !important; 
    }
    .checkbox-holder > div{
        margin: 5px 0;
    }
    .event-log label{
        color:#000;
    }

    .event-log{
        padding-bottom:20px;
    }

    .bottom-margin{
        margin-bottom: 20px;
    }

    div#range {
        display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    margin-right:20px;
    height:150px;
    }

    .mb{
        margin-bottom: 20px;
    }
    .open-color{
        color:#21cf69;
    }

    .close-color{
        color:#dd5b33;
    }
    input{
            padding-left: 10px !important;
    }
    input[type=text]:focus:not([readonly]),input[type=password]:focus:not([readonly]){
            border-bottom: 1px solid #96b7ea;
                box-shadow:none !important;
    }
    /*Validation error*/
    .validation-error{
        background: url('../images/Error.png') no-repeat left center;
        padding-left:25px;
        font-size: 12px;
        color:#f44366;
    }

    .error-border{
        border-bottom: 1px solid #f44366 !important;
    }
     .validation-success{
        background: url('../images/Tick.png') no-repeat left center;
        padding-left:25px;
        font-size: 12px;
        color:#00c853;
    }

    .success-border{
        border-bottom: 1px solid #00c853 !important;
    }
     .validation-alert{
        background: url('../images/Alert.png') no-repeat left center;
        padding-left:25px;
        font-size: 12px;
        display: inline-block;
        color:#fb8c00;
    }

    .alert-border{
        border-bottom: 1px solid #fb8c00 !important;
    }
/**override Media queries tablet**/
    a.btn{
        padding: 0 10px;
    }

/*CSS breadcrumb second level*/
.steps {
  padding: 0;
  overflow: hidden;
}
.steps a {
  color: white;
  text-decoration: none;
      align-items: center;
    height: 100%;
    justify-content: center;
}
.steps em {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
}
.steps li {
  float: left;
  margin-left: 0;
  width:24.6%;
  height: 50px; /* total height */
  list-style-type: none;
  padding: 5px 5px 5px 30px; /* padding around text, last should include arrow width */
  border-right: 3px solid white; /* width: gap between arrows, color: background of document */
  position: relative;
}
/* remove extra padding on the first object since it doesn't have an arrow to the left */
.steps li:first-child {
  padding-left: 5px;
}
/* white arrow to the left to "erase" background (starting from the 2nd object) */
.steps li:nth-child(n+2)::before {
  position: absolute;
  top:0;
  left:0;
  display: block;
  border-left: 16px solid white; /* width: arrow width, color: background of document */
  border-top: 25px solid transparent; /* width: half height */
  border-bottom: 25px solid transparent; /* width: half height */
  width: 0;
  height: 0;
  content: " ";
}


/* colored arrow to the right */
.steps li::after {
  z-index: 1; /* need to bring this above the next item */
  position: absolute;
  top: 0;
     right: -16px;
    display: block;
    border-left: 16px solid white;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
  width:0;
  height:0;
  content: " ";
}

/* Setup colors (both the background and the arrow) */

/* Completed */
.steps li { background-color: #4c6876; }
.steps li::after { border-left-color: #4c6876; }

/* Current */
.steps li.current { background-color: #273238; }
.steps li.current::after { border-left-color: #273238; }

/* Following */
.steps li.current ~ li { background-color: #b1c5cf; }
.steps li.current ~ li::after { border-left-color: #b1c5cf; }

/* Hover for completed and current */
.current a .count{
    background: #f69100;
    border:none;
    padding:4px;
}
.count{
    border-radius: 50%;
    height:30px;
    width: 30px;
    border:1px solid #fff;
    text-align: center;
    margin-right: 10px;
    padding: 3px;
}
.steps li.current ~ li a .count{
    background: #FFF;
    color:#b1c5cf;
    border:none;
    padding:4px;
}

.row-border-bottom{
    border-bottom:1px solid #e0e0e0;
    padding-bottom:10px;
}

.sTitle-14{
    font-size:14px;
}
.mLeft{
    margin-left:5px;
}

/*Flex row*/
.row-flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height:100%;
}
.flex-center{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-rows{
    padding-top:40px;
}

.tab-rows .tabs{
    background: #f5f5f5;
}
.tab-rows .tabs .tab a:hover,.tab-rows .tabs .tab a.active,.tabs .tab a{
    color:#263238;
}
.tabs .indicator{
    background: #3d5afe;
}
.tab-container{
    padding:20px !important;
}
.select-control-group .row{
    margin-bottom:20px !important;
}
.select-control-group .select-wrapper .select-dropdown{
    font-size: 12px;
}

/**Bootstrap dropdown css***/
.open>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); 
}
.dropdown-menu li {
    clear: both;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}
.dropdown-menu li:hover{
background-color: #eee;
}
.dropdown-menu>li>a {
    
      display: block;
    line-height: 22px;
    padding: 14px 16px;
   
    white-space: nowrap;
        color: #000;
    font-size: 14px;
}
.dropdown-submenu {
    position: relative;
}
.dropdown {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;

}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #5494ff;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #5494ff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;

}
.breadcrumb-title{
        font-size: 14px;
    font-weight: 300;
}

.reverse{
    top:auto;
    bottom:100%;
}
td{
    position:relative;
}
ul.table-dropdown.dropdown-content {
    opacity:1;
    display: none;
}

.btnMargin {
    margin-right:10px !important;
}
.custom-card{
    transition: box-shadow .25s;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.custom-card .row{
    margin:0; 
    padding:10px;
    border-bottom: 1px solid #cfcfcf;
}
.header-name{
    font-size: 16px;
    font-weight: 500;
}
.header-content{
    font-size: 14px;
    font-weight: 300;
}

.modal{
    max-height: 85%;
}
.section-title{
    font-size: 12px;
}

.collapsible-custom div.collapsible-body{
    padding:20px;
    background: #FFF;
}

.collapsible-custom div.collapsible-body > ul li {
    border-bottom: 1px solid #ddd;
    padding:10px 0;
    font-size: 14px;
}
.collapsible-custom div.collapsible-body ul li:last-child {
    border-bottom: none;
    padding:10px 0;
}
.collapsible-custom div.collapsible-header{
        font-size: 16px;
    font-weight: 500;
    background: #fff url('../images/BlueArrow.png') no-repeat 98% center;
}
.collapsible-custom div.collapsible-header.active{
        font-size: 16px;
    font-weight: 500;
    background: #FFF url('../images/BlueArrowLeft.png') no-repeat 98% center;
}

.collapsible-custom div.collapsible-body ul li a:hover{
    background: transparent;
}
.collapsible-custom div.collapsible-body ul li a{
    color: #000;
}

.grid-questions input[type="text"]{
    margin:0 !important;
    width:40%;
}
.w20{
    width: 20%;
}
.w60{
    width: 60%;
}
.full-bordered td{
    border:1px solid #d0d0d0;
}
.divider{
    min-height: 1px !important;
}
.drp-space{
    margin-right: 20px;
}
.info_outline{
    margin:5px 0 0 5px;
    vertical-align: middle;
}
.imgBox{display: inline-flex;}
.imgBoxPopup{margin:0 10px;}
.justify-end{justify-content: flex-end;}
.overview-header{
    font-weight: 600;
    padding-bottom:10px;
    font-size: 16px;
}
@media only screen and (max-width: 992px){
    nav .brand-logo{
     left: 0;
     -webkit-transform: translateX(0); 
     transform: translateX(0); 
    }
    #left-sidebar-nav{
        position: absolute;
    width: 60px;
    height: 100%;
    z-index: 100;
    }
    
    div.display-over #collapseSideBar{
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
   .container{
          width:97%;
      }

    #dummy{
        display:none;
    }

     .breadcrumb-title{
          font-size: 12px;
      }
      a.btn{
          font-size: 12px;
      }
      .steps li{
          width:24.5%;
      }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
      .container{
          width:95%;
      }
      .steps li::after{
                right: -15px;
      }
     
}

@media only screen and (min-width: 993px){
    .container {
        width: 90%;
    }
}