.lighten-custom{
    background-color: #5494ff;
}
.notification-badge {
    position: relative;
    right: 5px;
    top: -20px;
    color: #ffffff;
    background-color: #FF4081;
    margin: 0 -.8em;
    border-radius: 50%;
    padding: 4px 5px
}
small {
    font-size: 0.8rem;
}
.user-data{
    padding-left:12px;
}
.user-data span{
    display: block;
    color:#FFF;
    line-height:20px;
}
.admin-holder{
        height: 100%;
    padding-top: 10px;
}
span.user-name{

}
span.user-role{
    font-size: 12px;
    font-weight: 200;
    
}
.side-bar{
    background-color: #263238;
    position:relative;
    width:auto;
    transform: none;
    z-index: 1;
}
.side-bar a{
    color:#90a4ae;
    font-weight: 200;
}
.side-bar a:hover{
    background-color: #2979ff;
     color:#fff;
}
.side-bar.fixed{
    top:64px;
}

.bs-badge {
    line-height: 14px;
    top: 2px;
    left: 2px;
    display: block;
    width: 14px;
    min-width: 14px;
    height: 14px;
    padding: 0;
}
.bs-badge.badge-absolute {
    position: absolute;
    z-index: 5;
    top: 12px;
    left: 48px;
}
.badge, .bs-badge {
    font-size: 11px;
    font-weight: 700;
    line-height: 20px;
    display: inline-block;
    min-width: 20px;
    height: 20px;
    padding: 0 4px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    color: #fff;
    border-radius: 10px;
}

.bg-red{
    color: #fff;
    border-color: #f33;
    background: #ff5757;
}
.sidenav-header{
    height:48px;
}
.section-header{
    margin: 0;
    padding: 9px 0;
        border-bottom: 1px solid #cfcfcf;
    height: 48px;
    background: #FFF;
}
.overflow-container{
    overflow: hidden;
}
.dashboard-text{
    font-weight: 600;
    font-size: 18px;
}

.icon-class{
    vertical-align: middle;
    border-radius: 50%;
    margin: 0 32px 0 0;
}
.content-subheader{
    padding:10px 5px;
}
.activity-current{
    font-size: 16px;
    font-weight: 300;
}
.view-all-activities{
    color: #6C81FA;
    font-size: 14px;
}
.main-container{
        display: flex;
    flex-direction: column;
    position: relative;
   background: #f5f5f5;

}
div.shift-container{
    margin-left:60px;
}

#owl-demo .item{
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}

.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.diff-back{
  background-color: rgba(0,0,0,0.05);
}
#left-sidebar-nav{

        position:static;
}
#left-sidebar-nav + div{
        padding: 0 0.8em;
    width:75%;
    flex: 1 auto
}

#left-sidebar-nav.sidebar-collapsed{
    position: absolute;
    width: 60px;
    height:100%;
}
#left-sidebar-nav{
-webkit-transition: all .3s cubic-bezier(.55,0,.55,.2),width .1s linear,min-width .1s linear,max-width .1s linear;
    transition: all .3s cubic-bezier(.55,0,.55,.2),width .1s linear,min-width .1s linear,max-width .1s linear;
  width: 210px;
  background: #f5f5f5;
}

.flex-container{
        display: flex;
     flex-flow: row wrap; 
     position:relative;
}
.card-image{
    height:86px;
}
.card-image.study{
    background: #fb8800;
}

.card-image.publish{
    background: #08c250;
}
.card-image.visit{
    background: #d94114;
}   
.card-text{
    font-size: 16px;
    font-weight: 500;
    padding: 15px 0;
    display: block;
}
.card-image .card-title{
    font-size: 18px;
}
.table-card{
    padding: 10px 5px;
}
footer.page-footer{
    background: #FFF;
}
.footer-copyright{
    color:#000 !important;
    background: #FFF !important;
}

.carousel-wrapper{
    margin:0 auto;
    width:90%;
}
.collapse-icon{
        color: rgba(255,255,255,0.87);
    fill: rgba(255,255,255,0.87);
    cursor: pointer;
}

#left-sidebar-nav.sidebar-collapsed.display-over{
    width:210px;
}
img.responsive-img{
    vertical-align: middle;
}
.header-icon{
    border-right:1px solid #64b5f6;
}
.userDetails{
    height:64px;
}
#slide-out li:hover{
    background-color: #2979ff;
}
.side-nav .dashboard a{
        background: url(../images/Dashboard_Normal.png) no-repeat 21px center;
        padding-left:61px;
}
.side-nav .dashboard a:hover{
     background: url(../images/Dashboard_Clicked.png) no-repeat 21px center;
}
.side-nav .study >ul > li > a{
        background: url(../images/StudyUsers_Normal.png) no-repeat 21px center;
        padding-left:61px;
        line-height: 25px;
}
ul.side-nav ul > li > a.collapsible-header{
    height:48px;
}
.side-nav .study > ul > li > a:hover{
     background: url(../images/StudyUsers_Clicked.png) no-repeat 21px center;
}
.side-nav .manage-study >ul > li > a{
        background: url(../images/ManageStudy_Normal.png) no-repeat 21px center;
        padding-left:61px;
}
.side-nav .manage-study >ul > li > a:hover{
     background: url(../images/ManageStudy_Clicked.png) no-repeat 21px center;
}
.side-nav .library a{
        background: url(../images/Library_Normal.png) no-repeat 21px center;
        padding-left:61px;
}
.side-nav .library a:hover{
     background: url(../images/Library_Clicked.png) no-repeat 21px center;
}
.side-nav .query a{
        background: url(../images/Querylist_Normal.png) no-repeat 21px center;
        padding-left:61px;
}
.side-nav .query a:hover{
     background: url(../images/Querylist_Clicked.png) no-repeat 21px center;
}
.side-nav .reports a{
        background: url(../images/Reports_Normal.png) no-repeat 21px center;
        padding-left:61px;
}
.side-nav .reports a:hover{
     background: url(../images/Reports_Clicked.png) no-repeat 21px center;
}
.side-nav .collapsible-body{
    background-color:#263238 !important; 
}
ul.side-nav .collapsible-body li a{
    padding-left: 60px;
    line-height: 36px;
    height:35px;
    margin-top: 5px;
}
.dummyDiv{
    height:48px;
    width:100%;
    background:#FFF;
    position:absolute;
    border-bottom:1px solid #cfcfcf;  
}
#collapseSideBar{
        display: block;
    margin: 0 auto;
    float: right;
    margin-top: 15px;
    width: 20px;
}
.head-nav{
    width:80px;
}
.downarrow{
    padding-left:10px;
}

.dropImage{
    margin-top: 8px;
    padding-left: 5px;
}
footer{
     margin:0 !important;
     padding:0 !important;
}

.side-nav li.drpdn{
    background: url('../images/SubmenuArrow_Normal.png') no-repeat 90% center; 
}
.side-nav li.drpdn:hover{
    background: url('../images/SubmenuArrow_Clicked.png') no-repeat 90% center; 
}

.small-line{
    line-height: 17px !important;
}

#dropdown2{
    width:200px !important;
     height:232px !important;
    background: #FFF;
    padding-top: 21px;
    padding-left: 25px
}
#dropdown2 li,#dropdown1 li{
    min-height: 35px;
}
#dropdown2 a ,#dropdown1 a{
    color:#000;
    font-size:14px;
    padding: 0 16px;
}
#dropdown2 li:hover,#dropdown1 li:hover{
    background: transparent;
}

#dropdown2 a:hover,#dropdown1 a:hover{
    color:#5494ff;
    background: transparent;
}
.dashboard-text{
    border-left: 5px solid #64dd17;
    padding-left:10px;
}

#dropdown1{
    width:225px !important;
    height:370px !important;

}

.dropdown-holder{
        width: 160px;
       margin: auto 16px !important;
}
.drpdown-label{
        padding :0 16px;
        font-size: 14px;
        font-weight: 400;
        color:#000;
}
#dropdown1 .select-dropdown{
    border:1px solid #b4bfc5;
    padding-left:10px;
}
.notf{
    font-size: 10px;
    color:#ff612a;
    display:block;
    margin-top:-20px;
}

.dropdown-content li>a, .dropdown-content li>span{
    color:#000;
    font-size: 14px;
}
.space-drop{
    padding: 10px 0;
}
.export-text{
    font-weight: 500;
    font-size: 14px;
    display: block;
    padding-top: 13px;
    cursor: pointer;
}
.export-options div{
    height:48px;
}
.selected-export{
    background: #cfdee5;
}
.query-table th{
    font-size: 12px;
    font-weight: 500;
    color: #757575;
}
.query-table td{
    font-size: 12px;
    color:#000;
    font-weight:500; 
}
.query-label{
    font-size: 12px;
    color:#000;    
}
.query-wrapper .select-wrapper input.select-dropdown{
        border: 1px solid #b4bfc5;
    padding-left: 10px;
}
.query-wrapper{
        padding: 15px;
}
.query-table tr td {
    text-align: center;
}

.setting-cards .row{
    margin:0;
}
.level-settings{
    padding:10px;
}

.setting-cards .row label{
    color:#757575;
    font-size:12px;
    display: block;
    padding-bottom: 10px;
}

.setting-cards .select-wrapper input.select-dropdown{
    border:1px solid #b4bfc5;
    padding-left:10px;
}

[type="checkbox"].filled-in:checked+label:after{
    border: 2px solid #5494ff;
    background-color: #5494ff;
}
.checkbox-labels{
    font-size: 12px !important;
    color:#000 !important;
}
.mandate{
    color:red;
}
.reset-button{
    background-color: #78909c !important;
}
.save-button{
    background-color: #2979ff !important;
}
.top-padding{
    padding-top:45px;
}